@import '../../style/variables.scss';

.planets {
    &__list {
        margin-top: 45px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-content: space-between;
        row-gap: 55px;
    }
    &__item {
        width: 250px;
        height: auto;
        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        color: $grey;
        border-radius: 5px;
        transition: 0.3s transform;
        strong {
            color: $main-color;
        }
        &_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: translateY(-8px);
        }
        &-title {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &-details {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
}